<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>账户信息</h1>
    <table>
        <tr>
            <td>id</td>
            <td>名字</td>
            <td>余额</td>
        </tr>
        <tr th:each="account : ${accountList}">
            <td th:text="${account.id}"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${account.balance}"></td>
        </tr>

    </table>
</body>
</html>